<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <h1>Bike Share System</h1>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> -->
  <link rel="stylesheet" href="static/css/style.css">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script> 
    
    
  </script>
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          
        </div>
      </div>
    </nav>
    
    <div class="hero text-top-right">
      <h2></h2>
      <p>Indego Bike Analysis</p>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
          aria-haspopup="true" aria-expanded="false">
            Plots
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="Max_temp.html">Maximum Temperature</a>
            <a class="dropdown-item" href="Humidity.html">Humidity</a>
            <a class="dropdown-item" href="Cloudiness.html">Cloudiness</a>
            <a class="dropdown-item" href="Wind_speed.html">Wind Speed</a>
          </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Comparison.html">Comparison</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Data.html">Data</a>
          </li>
      </ul>
  </div>
</div>
</nav>
    <div class= "container">
      <div class ="column">
        <div class = ".col-md-2">Column left</div>
        <h2> Passholder Comparision</h2>
        <div id="bar"></div>
        <div class = ".col-md-2">Column left</div>
        <h2> Bike Usage</h2>
        <div id="Bike Comp Bar"></div>
      </div>
    </div>
    <div class = "container">
      <div class ="column">
        <div class = "col col-2">Column left</div>
        <h2>Standard Bike Usage</h2>
        <div id="standardPie"></div>
      </div>
      <div class = "column">
        <div class = "col col-2">Column right </div>
        <h2>Electric Bike Usage</h2>
        <div id="electricPie"></div>
      </div>
    <!-- <footer class="footer">
      <span class="bottom">Indego Bike Analysis</span>
    </footer> -->
  </div>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script> var data = {{ data|tojson }}; 
  console.log(data);
  </script>
  <script src="../static/js/app.js"></script>
</body>

</html>
